
@{
    ViewData["Title"] = "Logout";
}

<div class="jumbotron" style="margin-top:70px;">
    <h2 class="display-4">Please log in to continue</h2>
    <hr class="my-4">
    <button class="btn btn-secondary">
        <a asp-action="Login">Log In</a>
    </button>
</div>

