/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification\ 
for details on configuring this project to bundle and minify static web assets. */
body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
/*.body-content {
    padding-left: 15px;
    padding-right: 15px;
    width: 1800px;
    margin-top:50px;
    margin-left:40px;
    background-color: aliceblue;
    
}*/

.table-bod {
    padding-left: 15px;
    padding-right: 15px;
    margin-top: 40px;
    background-color: aliceblue;
    border: 2px  #000;
    border-radius: 15px;
}


/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}

/*body {
    background: #77a9b5
}*/

.buttons {
    height: 70px;
    margin-top: 10px;
    margin-left:60px;
}

.navbar-nav > li > a {
    margin-top: 10px;
    color:whitesmoke !important;
}

.buttonOrders {
    height: 70px;
    margin-top: 10px;
    margin-left:50px;
}

.buttonAddBook {
    height: 70px;
    margin-top: 10px;
 
}

.buttonRentBook{
     height: 70px;
    margin-top: 10px;
}

.container-fluid{
    margin-left:40px;
    margin-right:30px;
}
